.filter-select {
  position: relative;
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}
.filter-select select{
  height: 50px;
  width: 100%;
height: 50px;
font-size: 100%;
color: #646464;
cursor: pointer;
border-radius: 0;
background-color: #fff;
border: none;
border-bottom: 2px solid #CC2675;
padding: 10px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
padding: 10px;

  }
select:hover,
select:focus {
  background-color: #fff;
  border-bottom-color: #DCDCDC;
}

.filter-select::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  right: 2rem;
  top: 20px;
  border-top: 7px solid #CC2675;

}

.filter-menu {
  grid-row: 1 / -1;
  padding-left: 0;
  display: none;
}

.filter-menu li {
  display: inline;
  float: left;
  margin: 0.15rem;
}
.filter-menu li:last-of-type {
  width: 100%;
}

.filter-menu .btn-xs {
  padding: 0.25rem 0.35rem;
  font-size: 0.7rem;
}
.filter-menu .btn-block {
  width: 100%;
  font-weight: 600;
  margin-top:  1rem;
}
.filter-menu .btn-pink {
  background-color: #ff2f92;
  color: #fff;
}
@media(min-width: 768px) {
  .filter-select {
    display: none;
  }
  .filter-menu {
    display: block;
  }
}
