
.h1 a {
  background: #000;
  background-color: #000;
  background-image: linear-gradient(55deg,
    #000,
    #000 15%,
    #ff2f92 15%,
    #ff2f92 22%,
    #000 22%,
    #000 73%,
    #ff2f92 73%,
    #ff2f92 85%,
    #000 85%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 1em;
}

.btn-nav {
  position: relative;
  z-index: 999;
}

.closed ul {
  display: none;
}

.open ul {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
}
.open ul a {
  color: #000;
}
.navbar {
  margin-left: auto;
}
@media (min-width: 768px) {
  .open button,
  .closed button {
    display: none;
  }
  header .h1 a {
    font-size: 1.5em;
  }
  header nav ul {
    display: block!important;
  }
  nav ul {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
  }

  nav ul li {
    display: inline;
    padding-right: 2rem;
  }
    nav ul li a {
      color: #000;
    }
}
@media (max-width: 768px) {
  .closed ul {
    transform: translateX(-400%);
    transition: transform 2s;
  }
  .open ul li {
    display: block!important;
    text-align: center;
  }
  .open ul {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.9);
    font-size: 2rem;
    z-index: 900;
    padding-top: 12rem;
    transform: translateX(0);
    transition: transform 2s;
  }
  .open .btn-nav::after {
    content: "<";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    color: #fff;
    font-size: 5rem;
  }
  .open .btn-nav span {
    visibility: hidden;
  }

  .open .btn.btn-nav  {
    top:50%;
    right: 0;
    position: fixed;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
  }
  .open .btn-nav .window-open {
    display: none;
  }
  .open .btn-nav .window-close {
    display: block;
    opacity: 1;
  }
  .open ul li a{
    display: block;
    color: #fff;
    position: relative;
    z-index: 901;
  }
}
