
header {
  display: flex;
  height: 8rem;
  align-items: center;}
.logo {
  margin-right: auto;
}
.logo a {
  font-size: 3rem;
  background: #000;
  background-color: #000;
  background-image: linear-gradient(55deg,
    #000,
    #000 15%,
    #e3016a 15%,
    #e3016a 22%,
    #000 22%,
    #000 73%,
    #e3016a 73%,
    #e3016a 85%,
    #000 85%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

@media (min-width: 544px) {
   .logo a {
     font-size: 4rem;
 }}
.closed ul {
  display: none;
}

.open ul {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.9);
}
.open ul a {
  color: #000;
}
.navbar {
  margin-left: auto;
}
@media (min-width: 768px) {
  .open button,
  .closed button {
    display: none;
  }

  header nav ul {
    display: block!important;
  }
  header nav ul {
    list-style: none;
    margin: 0;
    text-transform: uppercase;
  }

  header nav ul li {
    display: inline;
    padding-right: 2rem;
  }

}
@media (max-width: 768px) {
  header .logo {
    font-size: 1.75em;
  }
  .closed ul {
    transform: translateX(-400%);
    transition: transform 2s;
  }
  .closed svg {
    font-size: 1.75em;
  }
   .btn-nav {
    margin-top: 1.5rem;
    text-transform: lowercase;
    color: #000;
    border: none;
    position: relative;
    padding: 0.25rem 2.25rem 0.25rem 0;
  }
  .closed .btn-nav svg {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
    .closed .btn-nav span {
      line-height: 2;
    }
  .open ul li {
    display: block!important;
    text-align: center;
  }
  .open ul {
    display: block;
    position: fixed;
    bottom: -40px;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.99);
    font-size: 2rem;
    z-index: 900;
    padding-top: 12rem;
    transform: translateX(0);
    transition: transform 2s;
  }
  .open .btn-nav::after {
    content: "<";
    position: absolute;
    left: 0;
    right: 0;
    top: -1.5rem;
    bottom: 0;
    z-index: 999;
    color: #000;
    font-size: 5rem;
  }
  .open .btn-nav span {
    visibility: hidden;
  }

  .open .btn.btn-nav  {
    top:50%;
    z-index: 999;
    right: 0;
    position: fixed;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    color: #fff;
  }
  .open .btn-nav .window-open {
    display: none;
  }
  .open .btn-nav .window-close {
    display: block;
    opacity: 1;
  }
  .open ul li a{
    display: block;
    color: #000;
    position: relative;
    z-index: 901;
    font-weight: 600;
    font-size: 0.9em;
  }
}
