.title {
  height: 152px;
  display: flex;
  text-align: center;
  justify-content: center;

}
h1 {
  text-align: center;
  padding: 2rem;
  width: 100%
}
.bg-pink {
  background: #ff2f92;
}
.text-white {
  color: #fff;
}
h1 a {
  background: #000;
  background-color: #000;
  background-image: linear-gradient(55deg,
    #000,
    #000 15%,
    #ff2f92 15%,
    #ff2f92 22%,
    #000 22%,
    #000 73%,
    #ff2f92 73%,
    #ff2f92 85%,
    #000 85%);
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-weight: 300;
  position: relative;
}
nav {
  height: 60px;
  background: #fff;
  display: flex;
}
nav .container {
  display: flex;
  justify-content: left;
}
nav li a {
  font-weight: 400;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  color: #fff;
}
nav li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #fff;
  opacity: 0;
}
nav li a:hover::before {
  opacity: 1;
  transition: opacity 0.4s;
}
nav li {
  display: flex;
}

nav.open li:first-of-type {
  font-size: 1.6em;
}
nav ul {
  display: flex;
}
.btn.btn-nav {
  background: transparent;
  position: absolute;
  font-size: 1.8em;
  padding: 0;
  line-height: 0;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  top: 168px;
  color: #fff;
}
nav button {
  margin-left: auto;
}
.btn.btn-nav .window-close {
  display: none;
}
@media (min-width: 768px) {
  nav .btn-nav {
    display: none!important;
  }
}
@media (max-width: 768px) {
  nav.closed ul {
    transform: translateX(-400%);
  }
  nav.open ul li {
    display: block!important;
    text-align: center;
  }
  nav.open ul {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.9);
    z-index: 900;
    padding-top: 6rem;
    transform: translateX(0);
    transition: transform 0.5s
  }

  nav li a:hover::before {
    display: none;
  }
  nav.open .btn.btn-nav  {
    left: 2rem;
    top: 2rem;
  }
    nav.open .btn-nav .window-open {
      display: none;
    }
    nav.open .btn-nav .window-close {
      display: block;
    }
  nav.open ul li a{
    display: block;
    color: #fff;
    position: relative;
    z-index: 901;
  }
  /* nav.closed  ul{
    display: none;
  } */
}
