
.btn {
  cursor: pointer;
  background: none;
      display: inline-block;
      padding: 0.5rem 0.75rem;
  font: inherit;
  line-height: 1;
  margin: 0.5em 0;
  padding: 0.5em 2em;
  position: relative;
  color: #fff;
  z-index: 3;
}

.btn-primary {
  box-shadow: 0 4px 1px -1px #fea9d1;
  background: #e3016a;
}
.btn-primary::before {
  background: #c2005b;
}
.btn-light {
  box-shadow: 0 4px 1px -1px #f2f2f2;
  background: #fff;
  color: #000;
}
.btn-light::before {
  background: #f9f9f9;
}
/* .btn:hover {
  background: transparent;
} */
.lc {
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}
.btn::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}
.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.btn, .btn::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.2, 1, 1);
    transform: scale3d(0.2, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.btn:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (max-width: 599.98px) {
  .btn-xs-xsm {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
}
